@charset "UTF-8";

/* mypage.css 파일 내용 수정 */
* {
  margin: 0;
  padding: 0;
  
}


#mypage-form {
  width: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:100px;
}

#contents.clearfix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.clearfix {
	list-style-type: none;
    margin-top: 30px;
}

.caption {
  margin-bottom: 70px;
  
}

.create-account {
  margin: 0 20px;
  font-size: 13px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.create-account_2 {
  color: lightgray;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.area {
  margin-bottom: 20px;
  padding: 13px;
  flex-wrap: wrap;
 
}

.title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.title_con {
  font-size: 13px;
  color: gray;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
}

.clearfix {
  display: flex;
  justify-content: space-between;
   list-style-type: none;
}
